<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div class="page">
        <div class="page-content">
            <header>
                <h1>{{ full_name }}</h1>
                <h2>github.com/sparin • vk.com/sparin</h2>
            </header>

            <section>
                <h2>Research interests</h2>
                <p>Information Security Protocols, Applied Cryptography, Software Development, Web Development, System
                    Administration, Cryptocurrencies.</p>
            </section>

            <section>
                <h2>Education</h2>
                <div class="education-title">
                    <b>BA in Information Security</b>
                    <b>Jun 2019</b>
                </div>
                <p>ITMO University, Saint-Petersburg, Russian Federation</br>
                    <i class="education-info">Dissertation title:</i> “Research of security of web applications based on
                    ASP.NET Coreagainst
                    network
                    threats”</br>
                    <i class="education-info">Advisor:</i> Sergey Bibikov, Faculty of Secure Information Technologies,
                    ITMO University</br>
                    <i class="education-info">Grade Point Average (GPA):</i> 4.8140</br>
                    <i class="education-info">Disciplines:</i> Databases, Mathematics, Cryptographic methods of securing
                    data,
                    Information security management, Networks and systems of data transferring, Web
                    technologies, Mathematic basics of cryptology, etc.
                </p>
            </section>

            <section>
                <h2>Professional Experience</h2>
                <div class="job-position">
                    <b>Software Developer</b>
                    <b>2019 – present</b>
                </div>
                <i class="job-company-name">Indeed Identity Ltd.</i>
                <ul class="job-responsibilities">
                    <li>Maintaining existing and developing new features and capabilities</li>
                    <li>Participating in security audition of the projects</li>
                    <li>Consulting on topics related to information security</li>
                </ul>


                <div class="job-position">
                    <b>Software Developer</b>
                    <b>Oct 2018 – Feb 2019</b>
                </div>
                <i class="job-company-name">Cashelec.ru Ltd.</i>
                <ul class="job-responsibilities">
                    <li>Developing P2P cryptocurrency exchange service</li>
                </ul>

                <div class="job-position">
                    <b>DevOps Engineer</b>
                    <b>Feb 2018 – Jul 2018</b>
                </div>
                <i class="job-company-name">Casper API Ltd.</i>
                <ul class="job-responsibilities">
                    <li>Deploying and maintaining projects of company</li>
                    <li>Designing and implementing CI/CD processes (GitLab, Docker, bash)</li>
                    <li>Developing tests and tools for developers and marketing team</li>
                    <li>Supporting AWS infrastructure (EC2, RDS, S3)</li>
                </ul>
            </section>

            <section>
                <h2>Professional Skills</h2>

                <table align="center" frame=void rules=rows style="width: 100%;">
                    <tbody>
                        <tr>
                            <td>Software development</td>
                            <td>• • • •<span class="gray"> •</span></td>
                        </tr>
                        <tr>
                            <td>System administration</td>
                            <td>• • •<span class="gray"> • •</span></td>
                        </tr>
                        <tr>
                            <td>C#, JavaScript / TypeScript</td>
                            <td>• • • •<span class="gray"> •</span></td>
                        </tr>
                        <tr>
                            <td>SQL</td>
                            <td>• • <span class="gray">• • •</span></td>
                        </tr>
                        <tr>
                            <td>Information Security</td>
                            <td>• • • <span class="gray">• •</span></td>
                        </tr>
                    </tbody>
                </table>

            </section>
            <section>
                <h2>References</h2>
                <ul>
                    <li><b>Sergey Victorovich Bibikov</b>, Associate Professor of ITMO University, svbibikov@itmo.ru
                    </li>
                </ul>
            </section>

            
        </div>
    </div>

    <footer>This is a HTML representation of <a href="/static/reference.pdf">this document</a></footer>
</body>